html {
  background: url(../images/pastelbackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-size: 20px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

div {
    text-align: center;
}

/* Text selection color */
::selection {
  background: #a7aba7; /* WebKit/Blink Browsers */
}

h1 {
  font-size: 3em;
  font-style: italic;
}

/* Using flex display for now */
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

/* Basic Settings */
.basic {
  width: 50%;
  color: #f1f1f1;
  font-family: 'Roboto', sans-serif;
  font-weight:400;
}

.basic h2 {
  font-size: 5em; 
  text-align: center;
}

/* Advanced Settings */
.advanced {
  width: 50%;
  color: #f1f1f1;
  font-family: 'Roboto', sans-serif;
  font-weight:400;
}

.advanced h2 {
  font-size: 5em;
}

/* Bold statements will stand out on the page */
b {
  color: black;
}

h2 {
  color: rgb(101, 129, 93);
  /*-webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: whitesmoke;*/ 
}

/* Input */
input {
  overflow: initial;
  border-radius: 3px;
  padding: 4px;
  border-color: rgb(73, 90, 74)
}

input:placeholder {
  font-style: italic;
}

/* Hover effect on input */
input[type="number"]:hover, input[type="text"]:hover {
  transition: all 500ms ease;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Textarea */
textarea {
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  background-color: rgba(243, 243, 243, 0.76);
  font-size: 16px;
}

textarea::placeholder {
  font-style: italic;
}

form .submit {
  background-color: rgb(3, 51, 5); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Submit button */
.submit:hover {
  transition: all 500ms ease;
  transform: scale(0.90);
}

.submit:active {
  transform: scale(0.90); 
  transition: all 500ms ease;
  box-shadow: 3px 2px 22px 1px rgba(255, 255, 255, 0.24); 
}

/* To avoid overlapping text */
@media only screen and (max-width: 1000px) {
  form {
    display: inline-block;
    width: 100%;
  }

  .basic .advanced {
    display: inline-block;
    text-align: center;
  }
}

/* Keyframe animation for fade-in. Adds a professional look to the page */
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Affects Navigation-Bar */
body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: ##728678;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}