/* Affects the entire page */

html { 
  background: url(../images/pastelbackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

div {
    text-align: center;
}

/* Affects Text tags */

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
}

p {
    padding: 0; margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

textarea { 
    background-color: black;
    color: white;
}

.keywords-display {
    font-size: 20px;
}

.resources-display {
    font-size: 20px;
}

/* Affects Flexbox-Grid */

.wrapper {
  display: flex;
  justify-content: center;
  align-content: space-between;
  /*align-items: center;*/
  padding: 30px;
  max-height: 100vh;
}

.grid {
  display: grid;
  justify-content: center;
  border: 1px solid black;
  grid-row-gap: 100px;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 2fr 3fr;
  grid-gap: 20px;
  padding: 30px;
}

.calendar-display{
  padding: 20px;
  /*grid-column-start: 1;
  grid-column-end: 3;*/
  grid-row-start: 2;
}

.video-display {
  padding: 20px;
  /*align-items: left;
  /*grid-column-start: 3;
  grid-column-end: 4;*/
  grid-row-start: 2;
}







/*
.grid-container {
  display: grid;
  grid-template-columns: 80px auto auto auto auto 80px; /*columns
  grid-template-rows: 80px 300px 150px auto 80px; /*rows
  padding: 10px;
  width: 100vw;
  height: 100vh;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-header {
  padding: 20px;
  font-size: 100px;
  text-align: center;
  color: black;
  height: 10px;
}

.grid-calendar {
  padding: 20px;
  font-size: 40px;
  text-align: center;
  color: black;
  height: 10px;
  width: 500px;
}

.grid-videos {
  padding: 20px;
  font-size: 40px;
  text-align: right;
  color: black;
  height: 10px;
  width: 500px;
}

.grid-resources {
  padding: 20px;
  text-align: left;
  font-size: 20px;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.next {
  background-color: #dcb8b8;
  color: white;
}
*/
