/* Affects the entire page */

html { 
  background: url(../images/pastelbackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

/* Affects Text tags */

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 100px;
}

p {
    padding: 0; margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

/* Affects Buttons */

a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.next {
  background-color: #dcb8b8;
  color: white;
}

/* Affects Flexbox-Grid */

.wrapper {
  display: flex;
  justify-content: center;
  padding: 30px;
  max-height: 100vh;
  max-width: 100vw;
}

.grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-gap: 20px;
  padding: 30px;
}

.sidebar {
  padding: 20px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
}

.title, .body, .button, .sidebar {
  padding: 20px;
  font-size: 20px;
}

.button {
    align-self: flex-start;
}