html { 
  background: url(../images/pastelbackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    color: white;
    /*border-radius: 8px;
    margin: 40px;*/
    font-family: "DM Mono";
    font-size: 22px;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.next {
  background-color: #dcb8b8;
  color: white;
}

/*///////////////////////////*/

.wrapper {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.grid {
  display: grid;
  border: 1px solid black;
  /*max-width: 800px;*/
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 2fr 4fr 1fr;
  grid-gap: 20px;
  padding: 30px;
}

.sidebar {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 2;
}

.title, .body, .button, .sidebar {
  padding: 20px;
  font-size: 20px;
  border: 1px dotted #0074d9;
  background-color: rgba(#0074d9, .1);
}

p {
  padding: 0; margin: 0;
}
